<%- include('partials/header'); -%>
<div class="contacts">
  <div  class="shadow p-3 mb-5 bg-body rounded">
    <h2>Contact</h2>
    <p>Phone:</p>
     <i class="bi bi-phone">+251912720710</i>
    <p>Email:</p>
    <i class="bi bi-envelope"> aseidjem85h@gmail.com</i>

  </div>

</div>

<%- include('partials/footer'); -%>
