<%- include('partials/header'); -%>

<div class="edu-container">
  <h1 class="education-heading">Education Background</h1>
  <div class="education">

    <dl class="college">
      <h3>University of the People: (09/03/2020-09/02/2022)</h3>
      <dt>Associate degree in health science</dt>
      <dd>I have acquired sufficient knowledge about the field of community health care during my two years of education. frankly speaking, I wouldn't even try to claim to be a doctor, but I do have the knowledge and skills necessary to offer
        community health extension services. This is implied by my 3.37 overall CGPA. I think that by simply altering our nutrition and leading a healthy lifestyle, we may prevent non-communicable diseases like diabetes, hypertension, cardiovascular
        diseases, etc., which are rapidly becoming more prevalent in our community and throughout the world.</dd>
    </dl>

    <dl class="college">
      <h3>Dilla ATVET college:(September 2,2004 up to August o7, 2006)</h3>
      <dt>Diploma in plant science</dt>
      <dd>I have acquired practical knowledge of a variety of advanced agricultural technologies and practices that raise agricultural output and productivity during my three years of college study. I have undergone skill development, mostly in pre
        and post - harvest programs that
        can guarantee the farmers' food security. I received a 3.21 CGPA on this.</dd>
    </dl>

    <dl class="college">
      <h3>Yirgalem high school</h3>
      <dt>High School Diploma in 2003.</dt>
      <dd>I scored a 2.14 on the general high school national exam I took this year and was able to get into college.</dd>
    </dl>
  </div>
</div>


<%- include('partials/footer'); -%>
